<div class="collapse" id="navbarToggleExternalContent">
  <div class="bg-dark p-2  d-flex justify-content-between">
    <div class="text-light w-75">
      <h4  >About</h4>
      <p >
        Add some information about the album below, the author, or any other
        background context. Make it a few sentences long so folks can pick up
        some informative tidbits. Then, link them off to some social networking
        sites or contact information.
      </p>
    </div>
    <div class="text-light">
      <h4>Contact</h4>
      <p>Follow On Twitter</p>
      <p>Follow On facebook</p>
    </div>
  </div>
</div>
<nav class="navbar navbar-dark bg-dark">
  <div class="container-fluid">
    <h2 class="text-light">Albam</h2>

    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarToggleExternalContent"
      aria-controls="navbarToggleExternalContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
  </div>
</nav>
